.component-1,
.component-1 * {
  box-sizing: border-box;
}
.component-1 {
  width: 1440px;
  height: 1024px;
  position: relative;
}
.desktop-log-in {
  background: #ffffff;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow-y: auto;
}
.group-51 {
  opacity: 0.8999999761581421;
  position: absolute;
  inset: 0;
}
.rectangle-60 {
  width: 573px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.log-in {
  color: #121212;
  text-align: left;
  font: 700 32px "Inter-Bold", sans-serif;
  position: absolute;
  left: 960px;
  top: 207px;
}
.group-19 {
  position: absolute;
  inset: 0;
}
.group-16 {
  width: 440px;
  height: 64px;
  position: static;
}
.group-4 {
  width: 440px;
  height: 64px;
  position: static;
}
.rectangle-16 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #0d374f;
  border-width: 3px;
  width: 440px;
  height: 64px;
  position: absolute;
  left: 783px;
  top: 611px;
}
.group-15 {
  width: 440px;
  height: 133px;
  position: static;
}
.rectangle-162 {
  border-radius: 10px;
  border-style: solid;
  border-color: #0d374f;
  border-width: 3px;
  width: 440px;
  height: 64px;
  position: absolute;
  left: 783px;
  top: 698px;
}
.log-in-with-social-media {
  color: #000000;
  text-align: center;
  font: 500 20px "Inter-Medium", sans-serif;
  position: absolute;
  left: 856px;
  top: 629px;
  width: 294.41px;
  height: 28.95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-in2 {
  color: #000000;
  text-align: center;
  font: 500 20px "Inter-Medium", sans-serif;
  position: absolute;
  left: 965.79px;
  top: 716.29px;
  width: 74.41px;
  height: 28.95px;
}
.group-56 {
  position: absolute;
  inset: 0;
}
.group-55 {
  width: 278px;
  height: 19px;
  position: static;
}
.don-t-have-an-account-yet-sign-up {
  color: #7d7d7d;
  text-align: center;
  font: 400 16px "Inter-Regular", sans-serif;
  position: absolute;
  left: 875px;
  top: 794px;
}
.vector-13 {
  width: 63.5px;
  height: 0px;
  position: absolute;
  left: 1092.5px;
  top: 816.5px;
  overflow: visible;
}
._5-3 {
  width: 313px;
  height: 191px;
  position: absolute;
  left: 190px;
  top: -44px;
}
.group-3456 {
  position: absolute;
  inset: 0;
}
.group-57 {
  width: 186.04px;
  height: 34.24px;
  position: static;
}
.name-e-mail {
  color: #121212;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 783px;
  top: 316px;
  width: 186.04px;
  height: 34.24px;
}
.group-14 {
  width: 140.27px;
  height: 34.24px;
  position: static;
}
.password {
  color: #121212;
  text-align: left;
  font: 600 20px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: 783px;
  top: 413.01px;
  width: 140.27px;
  height: 34.24px;
}
.forgot-password {
  color: #121212;
  text-align: left;
  font: 400 14px "Inter-Regular", sans-serif;
  position: absolute;
  left: 1091px;
  top: 499px;
  width: 165.37px;
  height: 24.25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vector-1 {
  width: 115px;
  height: 0px;
  position: absolute;
  left: 1089px;
  top: 521px;
  overflow: visible;
}
.remember-passwords {
  color: #121212;
  text-align: center;
  font: 400 14px "Inter-Regular", sans-serif;
  position: absolute;
  left: 771px;
  top: 499px;
  width: 218.52px;
  height: 24.25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-39 {
  background: #ffffff;
  border-radius: 3px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 14.77px;
  height: 14.27px;
  position: absolute;
  left: 786px;
  top: 504px;
}
.line-4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 413.42px;
  height: 0px;
  position: absolute;
  left: 785.95px;
  top: 380.2px;
}
.line-5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 413.42px;
  height: 0px;
  position: absolute;
  left: 785.95px;
  top: 478.64px;
}
.mine {
  position: absolute;
  right: 43.47%;
  left: 55.14%;
  width: 1.39%;
  bottom: 63.67%;
  top: 34.38%;
  height: 1.95%;
}
._1 {
  position: absolute;
  right: 43.47%;
  left: 55.14%;
  width: 1.39%;
  bottom: 54.1%;
  top: 43.95%;
  height: 1.95%;
}
.group-17 {
  width: 440px;
  height: 64px;
  position: static;
}
.log-in-with-social-media2 {
  color: #000000;
  text-align: center;
  font: 500 20px "Inter-Medium", sans-serif;
  position: absolute;
  left: 856px;
  top: 629px;
  width: 294px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-132 {
  width: 63.5px;
  height: 0px;
  position: absolute;
  left: 1092.5px;
  top: 816.5px;
  overflow: visible;
}
.vector-12 {
  width: 115px;
  height: 0px;
  position: absolute;
  left: 1089px;
  top: 521px;
  overflow: visible;
}
.img-boat {
  width: 35.8125rem;
  height: 64rem;
  flex-shrink: 0;
}
